* {
  box-sizing: border-box;
}

html,
body,
#root,
#info {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

#scroller {
  width: 100%;
  height: 300vh;
}

#info > h1 {
  position: fixed;
  top: 10px;
  left: 10px;
}

body {
  position: fixed;
  overflow: hidden;
}
